/**
  |============================
  | Root
  |============================
*/
:root {
    --navyblue: #2E2F42;
    --cloud: #F4F4FD;
    --white: #FFF;
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --cornflower: #E7E9FC;
    --slate: #434455;
    --DAIRY: #FCFCFC;
    --lightslane: #8e8f99;
    --green: #31d0aa;
    --main-font: 'Roboto', sans-serif;
    --logo-font: Raleway, sans-serif;
}

/**
  |============================
  | Base styles
  |============================
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: var(--main-font);
    color: var(--slate);
    background-color: var(--white);
}

/* reset style start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

address {
    font-style: normal;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
    color: currentColor;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.btm {
    min-width: 69px;
    min-height: 48px;
    font-family: inherit;
    border: 1px solid transparent;
    cursor: pointer;
    color: currentColor;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;

}

/* reset style end */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.btm-dark-accent {
    display: block;
    color: var(--white);
    background-color: var(--iris);
    padding: 16px 32px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btm-portfolia-first:hover,
.btm-portfolia-first:focus {
    color: var(--white);
    text-align: center;
    background-color: var(--ocean);
    border: 1px solid transparent;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.btm-portfolia-first {
    color: var(--iris);
    text-align: center;
    border: 1px solid var(--cornflower);
    background-color: var(--cloud);
    padding: 12px 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btm-dark-accent:hover,
.btm-dark-accent:focus {
    background-color: var(--ocean);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.portfolia-btm-list {
    display: flex;
}

.title {
    color: var(--navyblue);
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.text {
    color: var(--slate);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Base styles for mobile devices */

.container {
    min-width: 320px;
    max-width: 428px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

/* Styles for tablet devices */

@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

/* Styles for desktop devices */

@media only screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* .container {
    outline: 2px solid rgb(223, 57, 7);
    outline-offset: -2px;
} */

/**
  |============================
  | Header styles 2 page
  |============================
*/

.header {
    border-bottom: 1px solid var(--cornflower);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;

    @media screen and (min-width: 1158px) {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.header-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.header-logo {
    display: inline-flex;
    height: 24px;
    align-items: center;
    flex-shrink: 0;
    margin-right: 76px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-list {
    display: inline-flex;
    align-items: flex-start;
    gap: 40px;
    justify-content: space-between;
}

.header-nav-list .header-nav-item .header-nav-link {
    position: relative;
}

.header-nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: var(--ocean);
    border-radius: 2px;
    width: 100%;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-link.current {
    color: var(--ocean);
}

.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: var(--ocean);
    border-radius: 2px;
    width: 100%;
    opacity: 1;

}

.header-nav-link:hover::after,
.header-nav-link:focus::after {
    opacity: 1;
}

.header-nav-link {
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-list {
    display: flex;
    gap: 40px;
}

.header-address-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-logo,
.footer-logo {
    color: var(--iris);
    font-family: var(--logo-font);
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-logo-accent,
.footer-logo-accent {
    color: var(--navyblue);
    font-family: var(--logo-font);
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-nav-link {
    color: var(--navyblue);
    font-family: var(--main-font);
    font-weight: 500;
}

.header-nav-link:hover,
.header-nav-link:focus,
.header-address-link:hover,
.header-address-link:focus {
    color: var(--ocean);
}

.header .header-nav-list {
    display: none;

    @media screen and (min-width: 768px) {
        display: flex;
        text-align: center;
        gap: 40px;
    }

    /* Desktop */
    @media screen and (min-width: 1158px) {
        display: flex;
        text-align: center;
        gap: 40px;
    }
}

.header .header-address-list {
    display: none;


    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    /* Desktop */
    @media screen and (min-width: 1158px) {
        display: flex;
        flex-direction: row;
        gap: 48px;
    }
}

.header .header-nav-list .header-nav-link {
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.header .header-nav-list .header-nav-item .header-nav-link {
    display: block;
    padding: 24px 0;

}

.header .header-address-link {

    @media (max-width:1558px) {
        font-size: 12px;
    }
}

.header .header-nav-link,
.header .header-address-link {
    line-height: 1.6;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.header .header-nav-item:hover .header-nav-link,
.header .header-nav-item:focus .header-nav-link {
    color: var(--ocean);
}

.header .header-address-link:hover,
.header .header-address-link:focus {
    color: var(--ocean);
}


/**
  |============================
  | Dark section
  |============================
*/

.dark .dark-title {
    max-width: 320px;
    color: var(--white);
    text-align: center;
    font-size: 36px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 48px;

    @media screen and (min-width: 768px) {
        max-width: 496px;
        font-size: 56px;
        line-height: 60px;
        letter-spacing: 1.12px;
    }

    @media screen and (min-width: 1158px) {
        font-size: 56px;
        line-height: 60px;
        letter-spacing: 1.12px;
    }
}

.dark {
    margin: 0 auto;
    display: flex;
    padding: 112px 0;
    max-width: 1440px;
    background-color: var(--navyblue);
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url('../images/dark/dark-bg-mobile.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dark-title {
    color: var(--white);
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px),
screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
    .dark {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url('../images/dark/dark-bg-mobile@2x.jpg');
    }
}

@media screen and (min-width: 768px) {
    .dark {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url('../images/dark/dark-bg-tablet.jpg');
    }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px),
screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
    .dark {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url('../images/dark/dark-bg-tablet@2x.jpg');
    }
}

@media screen and (min-width: 1158px) {
    .dark {
        padding: 188px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url('../images/dark/dark-bg-desktop.jpg');
    }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1158px),
screen and (min-resolution: 2dppx) and (min-width: 1158px),
screen and (min-device-pixel-ratio: 2) and (min-width: 1158px) {
    .dark {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url('../images/dark/dark-bg-desktop@2x.jpg');
    }
}


/**
  |============================
  | Advantages section
  |============================
*/

/* Variant 1 */

.advantages {
    padding: 96px 0;

    @media screen and (min-width: 1158px) {
        padding: 120px 0;
    }
}

.advantages .advantages-thumb {
    display: none;
    align-items: center;
    justify-content: center;
    height: 112px;
    border-radius: 4px;
    background-color: var(--cloud);
    padding: 16px 32px;
    text-align: center;
    margin-bottom: 8px;


    @media screen and (min-width: 768px) {
        display: none;
    }

    @media screen and (min-width: 1158px) {
        display: flex;
    }
}

.advantages .advantages-list {
    gap: 72px;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        column-gap: 24px;
        row-gap: 72px;
    }

    @media screen and (min-width: 1158px) {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        column-gap: 24px;
        row-gap: 72px;
    }
}

.advantages .advantages-list .advantages-item {
    width: 100%;

    @media screen and (min-width: 768px) {
        width: calc((100% - 24px) / 2);
    }

    @media screen and (min-width: 1158px) {
        width: calc((100% - 72px) / 4);
    }
}

.advantages .advantages-subtitle {
    margin-bottom: 8px;
    color: var(--navyblue);
    font-size: 36px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.025em;
    text-align: center;

    @media screen and (min-width: 768px) {
        text-align: left;
    }

    @media screen and (min-width: 1158px) {
        font-size: 20px;
    }
}

/**
  |============================
  | Actions section
  |============================
*/

.actions {
    padding-bottom: 120px;
    display: none;

    @media screen and (min-width: 768px) {
        display: none;
    }

    @media screen and (min-width: 1158px) {
        display: block;
    }
}

.actions-title {
    padding-bottom: 72px;
}

.actions .actions-list {
    gap: 72px;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        column-gap: 24px;
        row-gap: 72px;
    }

    @media screen and (min-width: 1158px) {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        column-gap: 24px;
        row-gap: 72px;
    }
}

.actions .actions-list .actions-item {
    width: 100%;

    @media screen and (min-width: 1158px) {
        width: calc((100% - 72px) / 3);
    }
}

.actions .team-title {
    margin-bottom: 72px;
    color: var(--navyblue);
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

/**
  |============================
  | Team section
  |============================
*/

.team-socials-item {
    width: 40px;
    height: 40px;
}

.team-socials-link {
    width: 100%;
    height: 100%;
    background-color: var(--iris);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-socials-link:hover,
.team-socials-link:focus {
    background-color: var(--ocean);
}

.team .team-text,
.advantages .team-text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.team-list .team-item {
    background-color: var(--white);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team {
    padding: 96px 0;
    background-color: var(--cloud);

    @media screen and (min-width: 1158px) {
        padding: 120px 0;
    }
}

.team .team-title {
    margin-bottom: 72px;
    color: var(--navyblue);
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.team .team-list {
    display: flex;
    gap: 72px;
    justify-content: center;
    flex-wrap: wrap;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        column-gap: 24px;
        row-gap: 72px;
        margin: 0 100px;
    }

    @media screen and (min-width: 1158px) {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        column-gap: 24px;
        row-gap: 0;
        margin: 0 auto;
    }
}

.team .team-list .team-item {
    border-radius: 0px 0px 4px 4px;
    background-color: var(--white);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 264px;
    margin: 0 auto;

    @media screen and (min-width: 768px) {
        width: calc((100% - 24px) / 2);
    }

    @media screen and (min-width: 1158px) {
        width: calc((100% - 72px) / 4);
    }
}

.team .team-list .team-item .team-container {
    padding: 32px 0;
}

.team-list .team-item .team-text {
    text-align: center;
    margin-bottom: 8px;
}

.team-list .team-item .team-subtitle {
    text-align: center;
    margin-bottom: 8px;
    color: var(--navyblue);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.team-socials-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 0 16px;
}

/* footer */

.footer-list {
    gap: 16px;
    justify-content: unset;
    padding: 0;
    margin-right: 0;

    @media screen and (min-width: 1158px) {
        margin-right: 80px;
    }
}

.team-socials-item {
    width: 40px;
    height: 40px;
}

.team-socials-icon {
    fill: var(--cloud)
}

.team-socials-item .team-socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--iris);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.team-socials-item .footer-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--iris);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.team-socials-item .footer-social-link:focus,
.team-socials-item .footer-social-link:hover {
    background-color: var(--success);
}

.team-socials-item .team-socials-link:focus,
.team-socials-item .team-socials-link:hover {
    background-color: var(--ocean);
}

/**
  |============================
  | Customers
  |============================
*/

.customers-item {
    height: 88px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers {
    padding: 96px 0;

    @media screen and (min-width: 1158px) {
        padding: 120px 0;
    }
}

.container-customers {

    @media (min-width: 768px) and (max-width: 1158px) {
        max-width: 584px;
    }
}

.customers .customers-title {
    margin-bottom: 72px;
    color: var(--navyblue);
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.customers-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--lightslane);
    width: 100%;
    height: 100%;
    border: 1px solid var(--lightslane);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list {
    display: flex;
    column-gap: 16px;
    row-gap: 72px;
    flex-wrap: wrap;
    justify-content: center;

    @media screen and (min-width: 768px) {
        display: flex;
        column-gap: 24px;
        row-gap: 72px;
        flex-wrap: wrap;
        justify-content: center;
    }

    @media screen and (min-width: 1158px) {
        display: flex;
        column-gap: 24px;
        row-gap: 0px;
        flex-wrap: nowrap;
        justify-content: center;
    }
}

.customers-list .customers-item {
    width: calc((100% - 30px) / 2);
    height: 90px;

    @media screen and (min-width: 768px) {
        width: calc((100% - 60px) / 3);
    }

    @media screen and (min-width: 1158px) {
        width: calc((100% - 150px) / 6);
    }
}

.customers-link:hover,
.customers-link:focus {
    border-color: var(--ocean);
    color: var(--ocean)
}

.customers-icon {
    fill: currentColor
}

/**
  |============================
  | Footer
  |============================
*/

.footer {
    padding: 100px 0;
    background-color: var(--navyblue);
}

.footer .footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-accent {
    color: var(--cloud);
}

.footer-text {
    color: var(--cloud);
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.footer-list {
    display: flex;
    gap: 16px;
}

.footer-social-item {
    width: 40px;
    height: 40px;
}

.footer-social-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    background-color: var(--iris);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--green);
}

.footer-social {
    fill: var(--cloud);
}

.footer-form-text {
    color: var(--white);
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;

    @media screen and (min-width: 768px) {
        flex-direction: row;
    }
}

.footer-form-input {
    width: 264px;
    height: 40px;
    border: 1px solid var(--white);
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--white);
}

::placeholder {
    color: var(--white);
}

.footer-form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--main-font);

    width: 165px;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    cursor: pointer;
    background-color: var(--iris);
    border: none;
    border-radius: 4px;
}

.footer-icon {
    margin-left: 16px;
    fill: var(--white);
}

.social-icon {
    fill: var(--cloud)
}

.footer .footer-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;


    @media screen and (min-width: 768px) {
        gap: 24px;
        justify-content: flex-start;
        text-align: start;
    }

    @media screen and (min-width: 1158px) {
        display: flex;
        align-items: baseline;
        flex-wrap: nowrap;
    }
}

.footer-logo-container {
    margin-bottom: 72px;

    @media screen and (min-width: 768px) {
        margin-bottom: 0;
    }

    @media screen and (min-width: 1158px) {

        margin-right: 120px;
    }
}

.footer-social-container {
    margin-bottom: 72px;

    @media screen and (min-width: 768px) {
        margin-bottom: 0;
    }
}

.footer-form-cont {

    @media screen and (min-width: 768px) {
        margin-top: 72px;
    }

    @media screen and (min-width: 1158px) {
        margin-top: 0;
    }
}

.footer .footer-social-text {
    font-weight: 500;
    margin-bottom: 16px;
    max-width: 264px;
    color: var(--white);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

/**
  |============================
  | Modal
  |============================
*/

/* Pop up window */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(46, 47, 66, 0.40);

    opacity: 1;
    visibility: visible;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}


.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 72px 24px 24px 24px;

    transform: translateX(-50%) translateY(-50%) scale(1);

    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    background: var(--DAIRY);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
    transform: translateX(-50%) translateY(-50%) scale(0.2);
    opacity: 0;
    transition-delay: 0s;
}

.modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--cornflower);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: var(--ocean);
    border: none;
    fill: var(--white);
}

.modal-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-caption {
    color: var(--navyblue);
    margin-bottom: 16px;

    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
}

/* Reviews form styles  */

.modal-form-label {
    display: block;
    margin-bottom: 4px;

    color: var(--lightslane);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.modal-form-field {
    margin-bottom: 8px;
}

.modal-form-comment-cont {
    margin-bottom: 16px;
}

.modal-form-label-cont {
    position: relative;
}

.modal-form-agreement-cont {
    margin-bottom: 24px;
}

.modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
    border-color: var(--iris);
}

.modal-form-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-icon:hover {
    fill: var(--iris);
}

.modal-form-input:focus+.modal-form-icon {
    fill: var(--iris);
}

.modal-form-comment {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment:focus {
    border-color: var(--iris);
}

.modal-form-agreement {
    color: var(--lightslane);
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.modal-form-checkbox {
    margin-right: auto;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.modal-form-agreement-link {
    color: var(--iris);
}

input:checked+.modal-form-agreement>.modal-form-checkbox {
    background-color: var(--ocean);
    fill: var(--cloud);
    border: none;
}

.btn-accent {
    display: block;
    margin-right: auto;
    margin-left: auto;
    min-width: 169px;
    height: 56px;
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    cursor: pointer;
    background-color: var(--iris);
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

/**
  |============================
  | porfolia main
  |============================
*/
.portfolia {
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolia-btm-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.portfolia-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolia-item {
    width: calc((100% - 48px) / 3);
}

.portfolia-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolia-link:hover .porfolia-img-text,
.portfolia-link:focus .porfolia-img-text {
    transform: translateY(0%);
}

.portfolia-link:hover,
.portfolia-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolia-img-container {
    position: relative;
    overflow: hidden;
}

.porfolia-img-text {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
    padding: 40px 32px;
    background-color: var(--iris);
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.portfolia-container {
    padding: 32px 16px;
    border: 1px solid var(--cornflower);
    border-top: none;
}

.portfolia-subtitle {
    color: var(--navyblue);
    line-height: 1.2;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolia-text {
    color: var(--slate);
    line-height: 1.5;
    letter-spacing: 0.02em;
}


/**
  |============================
  | Menu
  |============================
*/

.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-toggle:hover,
.menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--white);
    z-index: 999;
    padding: 80px 35px 40px 40px;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--cornflower);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
    transform: translateX(0);
}

.mobile-menu-list {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;


}

.mobile-menu-link {
    display: block;
    font-family: Roboto;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.72px;
    color: var(--navyblue);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-link:hover,
.mobile-menu-link:focus,
.mobile-menu-link.current {
    color: var(--iris);
}

.mobile-menu-current {
    color: var(--ocean);
}

.mobile-contacts {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    margin-bottom: 32px;
}

.mobile-contacts-list {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    padding-bottom: 48px;
}

.mobile-contacts-item {
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: var(--slate);
}

.mobile-contacts-link {
    color: inherit;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-contacts-link:hover,
.mobile-contacts-link:focus {
    color: var(--ocean);
}

.highlight {
    color: var(--iris, #4d5ae5);
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;

    @media screen and (min-width: 428px) {
        font-size: 36px;
    }

    @media screen and (min-width: 1158px) {
        font-size: 30px;
    }
}

/* Mobile Socials */

.mobile-socials-list {
    display: flex;
    gap: 56px;
}

.team-container,
.customers-container,
.footer-container {
    @media (min-width: 768px) and (max-width: 1158px) {
        max-width: 584px;
    }
}

/* header delit */

/* .header-address-link {
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* Dark section */

/* .dark {
    padding: 188px 0;
} */

/* Team section */

/* .team-text {
    text-align: center;
    padding-bottom: 8px;
} */

/* .team-socials-icon {
    fill: var(--cloud);
} */